session.vim
Session.vim

makefile

#executables
palette-tool
texture-tool
texture-viewer
rayed
ported
book-tool
a.out
defc
iso
port
port_all
*.exe

#compiler output
*.o
*.a

*.bin
*.map

*.png
*.prof
*.jpg
*.pal
*.bdef
*.callgrind
perf.*

# Ressource files
*.rvr
*.map
*.cop
*.csv
*.bok
